terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/modules/s3-lambda/lambda_function.zip
k8s/retail-store-sample-app/
.DS_Store
*.pem
